<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".CinestineApp"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Cinestine">
    <meta-data
      android:name="google_analytics_adid_collection_enabled"
      android:value="false" />
    <activity
      android:name=".ui.main.MainActivity"
      android:exported="true"
      android:theme="@style/Theme.Cinestine">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.details.DetailsActivity"
      android:exported="false"
      android:label="@string/title_activity_details"
      android:parentActivityName=".ui.main.MainActivity"
      android:theme="@style/Theme.Cinestine" />
    <activity
      android:name=".ui.person.PersonActivity"
      android:exported="false"
      android:label="@string/title_activity_person"
      android:parentActivityName=".ui.details.DetailsActivity"
      android:theme="@style/Theme.Cinestine" />
    <activity
      android:name=".ui.collection.CollectionActivity"
      android:exported="false"
      android:label="@string/title_activity_collection"
      android:parentActivityName=".ui.details.DetailsActivity"
      android:theme="@style/Theme.Cinestine" />
    <activity
      android:name=".ui.episode.EpisodeActivity"
      android:exported="false"
      android:label="@string/title_activity_episode"
      android:parentActivityName=".ui.details.DetailsActivity"
      android:theme="@style/Theme.Cinestine" />
    <activity
      android:name=".ui.discover.DiscoverResultsActivity"
      android:exported="false"
      android:label="@string/title_activity_discover"
      android:parentActivityName=".ui.details.DetailsActivity"
      android:theme="@style/Theme.Cinestine" />
  </application>

</manifest>
